ion-toolbar {
  --background: #ab003c;
  color: #f2f2f2;
}

ion-content {
  --background: #fff;

  .container {
    margin: 20px auto 0;
    padding: 5px;

    .login-wrap {
      display: flex;
      flex-direction: column;
      max-width: 60%;
      margin: 0 auto;

      .logo {
        border-radius: 50%;

        img {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}

.buttons-wrap {
  width: 100%;
  padding: 5px 0;

  .login-btn {
    width: 100%;
    background-color: #ab003c;
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
    font-weight: bold;
  }

  .forgot-btn {
    text-transform: uppercase;
    opacity: 0.8;
    width: 40%;
    margin: 0 auto;
    display: block;
    padding: 7px;
  }
}
